@page "/Admin"
@attribute [TabItemOption(Text = "主页", Closable = false)]

<PageTitle>主页</PageTitle>

<Button OnClick="OnClick">全局异常测试</Button>

@code {
    private Task OnErrorHandleAsync(ILogger logger, Exception ex)
    {
        System.Console.Error.WriteLine(ex);
        return Task.CompletedTask;
    }

    void OnClick()
    {
        var a = 0;
        _ = 1 / a;
    }
}
