@page "/Admin/OperationLog"
<AdminTable TItem="SysOperationLog" ShowExportButton ShowDefaultButtons="false" IsPagination IsAccordion ShowSearch IsDetails="true">
    <TableColumns>
        <TableColumn @bind-Field="context.Path"  Text="页面" Filterable="true" Searchable="true" />
        <TableColumn @bind-Field="context.OperationDescription"  Text="操作描述" Filterable="true" Searchable="true" />
        <TableColumn @bind-Field="context.ClientIp"  Text="IP地址" Filterable="true" Searchable="true" />
        <TableColumn @bind-Field="context.OperationResult"  Text="结果" Filterable="true" Searchable="true">
            <Template Context="v">
                <div class="@(v.Value == OperationResult.失败? "text-danger" : "")">@v.Value</div>
            </Template>
        </TableColumn>
        <TableColumn @bind-Field="context.FailureReason" Text="异常信息" Visible="false" Searchable="true" />
        <TableColumn @bind-Field="context.CreatedUserName" Text="操作人" Filterable="true" Searchable="true" />
        <TableColumn @bind-Field="context.CreatedTime"  Text="操作时间"  />
    </TableColumns>
    <DetailRowTemplate>
        <div style="display:block;">
            <div>设备信息：@(context.ClientDevice)</div>
            @if (!string.IsNullOrEmpty(context.OperationParams))
            {
                <div>
                    提交数据：<pre>@(context.OperationParams ?? "无")</pre>
                </div>
            }
            @if (!string.IsNullOrEmpty(context.FailureReason))
            {
                <div>异常信息：<pre>@(context.FailureReason)</pre></div>
            }
        </div>
    </DetailRowTemplate>
</AdminTable>
@code {

}
